body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aquamarine;
    color: darkolivegreen;
}

h1 {
    color: coral;
}

a{
    color: chartreuse;
    text-decoration: none;
}

a:hover{
    color: cornflowerblue;
}
ul>li{
    font-weight: bold;
}
ul li::before{
    content: '👌';
}
a::after{
    content: '😁';
}
p::first-letter{
    font-size: 200%;
    color:brown
}